<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

  <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
  <title>Eat a Burger!</title>
</head>

<body>
  <img src="/assets/img/food.svg" width="400px" id="burger_img">

  {{{ body }}}

  <footer class="burgerFooter">
    <div class="footer-copyright">
      <div class="container">
        <span class="grey-text text-lighten-4">© 2017 Kamran Ahmad</span>
        <a class="grey-text text-lighten-4 right" href="https://github.com/dreadsovereign/burger">Reference Work</a>
      </div>
    </div>
  </footer>
  <script src="/assets/js/burgers.js"></script>
</body>
</html>
